gui.py
guig.py
todo.txt
# exclude everything
manga/*
# exception to the rule
!manga/nothing.txt
js/*
# exception to the rule
!js/nothing.txt
*.ui
test.py
/testlist.py
/ss.py
/qt4.py
/gui3.exe
/gui3.spec
/dist/
/build/
/gui6.py
/MangaDownloader2.py
/guithread.py
/02_multithreaded.py
/threadtesr.py
